:root {
  --circleMargin: 0px;
  --circleSize: 40px;
  --fieldSize: 76px;
  --fieldMargin: 2px;
  --boardWidth: 320px;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: 'IBM Plex Sans', sans-serif;
}

#container {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#inner {
  width: 50vw;
  height: 50vw;
}

#board {
  display: block;
  width: 100%;
  height: 100%;
  align-self: center;
}

.field {
  box-sizing: border-box;
  float: left;
  margin: var(--fieldMargin);
  display: block;
  width: calc(25% - (2 * var(--fieldMargin)));
  height: calc(25% - (2 * var(--fieldMargin)));

  text-align: center;
  line-height: calc(50vw / 4 - (2 * var(--fieldMargin)));
  transition: 0.1s all;
  background-color: #333;

  font-size: 5vw;
  text-transform: capitalize;
  color: transparent;
  z-index: 1;
}

.field:hover {
  cursor: pointer;
  background-color: #444;
  transform: scale(0.98);
  z-index: 10;
}

.field.uncovered:hover {
  transform: scale(1);
}

.field.marked {
  background-color: #f55;
  color: #ddd;
}

.field.marked:hover {
  background-color: #f55;
  transform: scale(1);
}

.field.marked.uncovered:hover,
.field.uncovered {
  color: #fff;
  background-color: #fb5;
  transform: scale(1);
}




.field.toCompare {
  display: none;
}

.show.field-a { background-color: #ba324f; }
.show.field-b { background-color: #36CFD5; }
.show.field-c { background-color: #648767; }
.show.field-d { background-color: #3C91E6; }
.show.field-e { background-color: #cee7e6; }
.show.field-f { background-color: #ffc15e; }
.show.field-g { background-color: #454372; }
.show.field-h { background-color: #f7934c; }
.show.field-i { background-color: #F49FBC; }
.show.field-j { background-color: #169873; }
