:root {
  --circleMargin: 0px;
  --circleSize: 40px;
  --tileSize: 76px;
  --tileMargin: 1px;
  --boardWidth: 320px;
  --tileRadius: 4px;
  --tileBkgDefault: #333;
  --tileBkgHover: #444;
  --tileBkgMarked: #222;
  --tileBkgGuessed: #1a1a1a;
}


body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

#container {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#inner {
  width: 50vw;
  height: 50vw;
}

#board {
  display: block;
  width: 100%;
  height: 100%;
  align-self: center;
}

.tile {
  box-sizing: border-box;
  float: left;
  margin: var(--tileMargin);
  display: block;
  width: calc(25% - (2 * var(--tileMargin)));
  height: calc(25% - (2 * var(--tileMargin)));

  text-align: center;
  line-height: calc(50vw / 4 - (2 * var(--tileMargin)));
  background-color: #333;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-image: none;
  border-radius: var(--tileRadius);

  font-family: 'Monoton', cursive;
  font-weight: 400;
  font-size: 4vw;
  text-transform: capitalize;
  color: transparent;
  z-index: 1;
  transition: 0.5s all;

}

.tile:hover { background-color: var(--tileBkgHover); cursor: pointer; }
.tile.marked { background-color: var(--tileBkgMarked); }
.tile.guessed { background-color: var(--tileBkgGuessed); }
/* .tile.marked.guessed:hover { background-color: var(--tileBkgguessed); } */

.tile.toCompare {
  display: none;
}

#score {
  width: 100%;
  height: 24px;
  color: #fff;
  margin: 0 0 16px 0;
  padding: 0 var(--tileMargin);
}


.guessed.tile-cross-1,
.marked.tile-cross-1 { background-image: url('images/cross-1.svg'); }
.guessed.tile-cross-2,
.marked.tile-cross-2 { background-image: url('images/cross-2.svg'); }
.guessed.tile-square-1,
.marked.tile-square-1 { background-image: url('images/square-1.svg'); }
.guessed.tile-square-2,
.marked.tile-square-2 { background-image: url('images/square-2.svg'); }
.guessed.tile-circle-1,
.marked.tile-circle-1 { background-image: url('images/circle-1.svg'); }
.guessed.tile-circle-2,
.marked.tile-circle-2 { background-image: url('images/circle-2.svg'); }
.guessed.tile-ex-1,
.marked.tile-ex-1 { background-image: url('images/ex-1.svg'); }
.guessed.tile-ex-2,
.marked.tile-ex-2 { background-image: url('images/ex-2.svg'); }
